/* ==UserStyle==
@name         百度Reforged
@author       Aiden
@namespace    https://github.com/swhoro
@version      0.0.8
==/UserStyle== */
@-moz-document regexp('https://www.baidu.com/s\?\&?((wd)|(ie)|(tn))=.*')
{
    /* 头栏 */
    div#head {
        background-color: #f7f7f7;
    }

    div.s_form {
        padding: 0 !important;
        display: flex;
        justify-content: center;
    }

    a#result_logo {
        position: absolute;
        left: calc((100% - 43.3vw) / 2 - 7vw);
    }

    form#form {
        margin: 15px auto;
        width: 43.3vw;
    }

    span.s_ipt_wr {
        width: 35.8vw !important;
    }

    span.s_btn_wr {
        width: 7.3vw !important;
    }

    /* Tab栏 */
    div.s_tab {
        padding-left: 0 !important;
        background-color: #f7f7f7 !important;
    }

    div.s_tab_inner {
        width: 43.3vw !important;
        margin: 0 auto;
    }

    div.s_tab_inner a {
        margin: 5px calc(((43.3vw / 10) - 44px) / 2) !important;
    }

    div.s_tab_inner b {
        margin: 5px calc(((43.3vw / 10) - 44px) / 2) !important;
    }

    /* 搜索工具 */
    /* 未打开搜索工具 */
    div.nums {
        margin: 0 auto !important;
        width: 43.3vw;
        text-align: left;
    }

    /* 已打开搜索工具 */
    div.search_tool_conter {
        margin: 0 auto !important;
        width: 43.3vw;
        text-align: left;
    }

    /* 简单移除右侧广告 */
    div#content_right {
        display: none;
    }

    /* 搜索结果 */
    div#wrapper_wrapper {
        background-color: #f7f7f7;
    }

    div#container {
        margin: 0 auto !important;
        text-align: center;
    }

    div#content_left {
        margin: 0 auto;
        width: calc(40vw + 60px) !important;
        padding: 0 !important;
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div#content_left > div.c-container {
        text-align: left;
        width: 40vw;
        transition-duration: 0.4s;
        padding: 25px 30px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }

    div#content_left > div.c-container:hover {
        box-shadow: 0 14px 25px rgba(0, 0, 0, 0.16);
    }

    div#content_left > div.c-container h3 {
        font-size: 16px !important;
    }

    div.c-container > div.c-container {
        margin-bottom: 0 !important;
    }

    div.c-border {
        border-color: #f7f7f7 !important;
        box-shadow: none !important;
    }

    /* 搜索结果中标题下划线 */
    div.c-container h3 a,
    div.c-container h3 em {
        text-decoration: none !important;
    }

    ul.subLink_answer a,
    ul.subLink_answer a > em {
        text-decoration: none;
    }

    /* 相关搜索 */
    div#rs {
        margin: 20px auto 0px auto !important;
        background-color: #f7f7f7;
        width: 44vw;
    }

    div#rs table {
        width: 44vw !important;
    }

    div#rs table th {
        text-align: center;
    }

    /* 页码 */
    div#page {
        text-align: center;
    }

    div.page-inner {
        padding: 0 !important;
    }

    /* 页脚 */
    div.foot-inner {
        text-align: center;
    }
    span#help {
        float: none !important;
        padding-right: 150px;
    }
}
